
@{
    ViewData["Title"] = "PlotSynopsis";
}

<div class="bg-storm-image"></div>

<div class="bg-synopsis-text">
    <h1>The Campaign Synopsis</h1>
</div>

<div class="bg-synopsis-text" style="top: 200px !important; overflow: visible !important;">
    <p>
        Insert stuff for putting them here
    </p>
</div>

