
@{
    ViewData["Title"] = "ThomasNotes";
}

<div class="bg-parchment-image"></div>

<div class="bg-notes-text">
    <h1>Thomas's Campaign Notes</h1>
</div>

<div class="bg-notes-text" style="top: 200px !important; overflow: visible !important;">
    <p>
        Insert Notes Here
    </p>
</div>